.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/lb-bk.png'); 
    background-size: cover; 
  }

  .options {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top:90px;
    display: flex;
    flex-direction: column;
  }
  
  .scoreboard {
    margin-top: 0px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 50px;
  }

  .choice {
    display: inline-block;
    margin: 0 20px;
    text-align: center; 
    vertical-align: top;
  }
  
  .choice img {
    width: 350px; 
    height: auto; 
    height: 250px;
    margin-left: 100px;
  }
  
  .choice span {
    display: block;
    margin-bottom: 10px;
    font-family: fantasy;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 100px;
  }
  
  .button{
    margin-left: 112px;
  }
  
  .game-result {
    font-weight: bold;
    font-size: 24px;
    font-family: fantasy;
    color: rgb(251, 255, 0); 
    margin-top: 60px; 
    margin-left: 260px;
  }
  
  .shake {
    animation: shakeAnimation 0.2s infinite;
  }

  .button-container {
    margin-top: 80px;
    margin-left: 200px;
    padding: 10px 10px;
    gap: 10px
  }

.reset-game-button {
    background-color: rgb(42, 128, 8)
  }

  .end-game-button  {
    background-color: rgb(42, 128, 8)
  }

  .label {
    color: white;
    font-family: fantasy;
    font-size: xx-large;
    margin-left: 100px;
  }
  
  @keyframes shakeAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  