/* App.css */

/* Styles for the home page */
.player-name-input {
    text-align: left; /* Align everything to the left */
    padding: 20px; /* Add padding to the container */
    background-image: url('../../assets/images/playerInputBackground.png'); /* Set the background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    height: 100vh; /* Set the height to full viewport height */
  }
  
  .player-name-input h2 {
    margin-top: 200px; /* Remove margin from the top */
    margin-left: 1100px;
    color: white;
    font-family: fantasy;
    font-size: xx-large;
  }

  .player-name-input .text-holder {
    margin-left: 1100px;
  }
