.home-page {
  text-align: left;
  padding: 20px;
  background-image: url('../../assets/images/background.png'); 
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
}

.home-page-button-container {
  margin-left: 800px;
}


